#mycart.small-10.small-centered.medium-8.large-8.column
  .p1.glassy-bg.mb1.text-center.radius-l1.radius-r1
    %h4 My Cart
    %p.mb0
      You've selected
      %span.cart-count= current_user.cart_count
      books!
  - @cart_books.each do |book|
    .cart-book.large-12.column.mb1{"data-equalizer" => ""}
      .column.large-2.text-center.p0{"data-equalizer-watch" => ""}
        = link_to book do
          = image_tag book.image_url, class: "radius-l1"
      .column.large-7.glassy-bg.text-center{"data-equalizer-watch" => ""}
        %p.scale.ptm
          = book.title
      .column.large-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
        = link_to "" , data: {targetUrl: remove_from_cart_path(book)} do
          %i.fi-x.right
        %h4.scale
          $ #{book.price}